# ca65 linker config for Acorn Electron port
# Load at $0E00 (PAGE in Mode 6), screen at $6000

SYMBOLS {
    __STACKSIZE__: type = weak, value = $0100;
}

MEMORY {
    ZP:   file = "", define = yes, start = $0000, size = $002C;
    RAM:  file = %O, define = yes, start = $0E00, size = $5200 - __STACKSIZE__;
}

SEGMENTS {
    CODE:   load = RAM, type = ro;
    RODATA: load = RAM, type = ro;
    BSS:    load = RAM, type = bss, define = yes;
}
